// Override or add CSS variables for your theme here

:root {
  //--ds-header-logo-height: 80px;
  //--ds-header-logo-height-xs: 50px;
  --ds-header-icon-color: #{$white};
  //--ds-header-icon-color-hover: #{darken($link-color, 15%)};
  --ds-navbar-link-color: #{$primary};
  --ds-navbar-link-color-hover: #{darken($primary, 15%)};
  --ds-footer-bg: #{$white};
  --ds-breadcrumb-link-color: #{$primary};
  --ds-breadcrumb-link-active-color: #{darken($primary, 30%)};
}
